* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* MEDIAS QUERIES DESKTOP */

    html {
        font-size: 16px;
    }

    .navbar {
        position: sticky;
        top: 0;
        z-index: 100;
        box-shadow: 2px 2px 5px rgb(194, 194, 194);
        height: 80px;
    }
    .imagen-logo {
        width: 8rem;
    }

    .container-navbar {
        background-color: white;
    }

    .container-navbar-links {
        display: flex;
        justify-content: center;
    }

    .navbar-links a:hover {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .container-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 10%;
        position: sticky;
        top: 0;
    }
    
    .menu-social {
        display: flex;
        justify-content: space-around;
    }
    
    .menu-social i  {
        font-size: 20px;
        padding-right: 18px;
        color: black;
    }
    
    .fa-facebook:hover {
        color: rgb(0, 0, 114)
    }
    
    .fa-instagram:hover {
        color: rgb(114, 0, 0);
    }
    
    /* BANNER => HECHO CON BOOTSTRAP*/

    /* NOSOTROS */

    .quienes-somos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 16px;
    }
    .quienes-somos h1 {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .contenedor-texto-video {
        display: flex;
        align-items: center;
    }

    .quienes-somos-texto {
        width: 50%;
        text-align: center;
        font-size: 1rem;
        vertical-align: middle;
    }

    .quienes-somos-texto p {
        margin-bottom: 18px;
    }

    .quienes-somos-texto h2 {
        margin-bottom: 10px;
    }

    .quienes-somos-imagen {
        width: 50%;
        text-align: center;
    }

    .quienes-somos-imagen video {
        width: 100%;
        border-radius: 10px;
    }

    /* PRODUCTOS */

    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }

    .productos-encabezado {
        width: 100%;
        text-align: center;
    }

    .productos-contenedor {
        display: flex;
        justify-content: center;
    }

    .tarjeta-producto {
        padding: 50px;
        border-radius: 10px;
        text-align: center;
        transition: all 0.5s ease-out;
    }

    .tarjeta-producto-contenido {
        position: relative;
    }

    .tarjeta-producto-contenido img {
        width: 100%;
        transition: all 0.1s ease-out;
    }

    .tarjeta-producto-info {
        display: none;
        position: absolute;
        bottom: 0%;
        right: 0%;
        top: 0%;
        left: 0%;
        color: black;
        text-align: center;
        z-index: 10;
        background: rgba(0, 0, 0, 0.5);
        color: #FFF;
        padding: 10px;
        border-radius: 10px;
    }

    .tarjeta-producto-info h4 {
        text-align: center;
    }

    .tarjeta-producto:hover {
        transform: scale(1.2);
        border-radius: 10px;
    }

    .tarjeta-producto:hover .tarjeta-producto-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 10px;
    }

    .tarjeta-producto:hover img {
        border-radius: 10px;
    }

    
    /* PREGUNTAS FRECUENTES */

    .preguntas-frecuentes {
        margin-top: 40px;
    }

    .preguntas-frecuentes-encabezado {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    span {
        font-weight: 900;
        color: black;
    }

    /* NEWSLETTER */

    .newsletter {
        width: 100%;
        margin-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .newsletter h4 {
        text-align: center;
        font-size: 1.5rem;
    }

    .container-form {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .form-newsletter {
        width: 50%;
        display: flex;
        justify-content: center;
        margin-top: 6px;
    }
    
    .input-newsletter {
        width: 50%;
        border: 1px solid red;
        background-color: white;
        border-right: none;
        padding: 5px;
        height: 35px;
        border-radius: 4px 0 0 4px;
        outline: none;
        color: black;
      }
    
    .send-button {
        width: 40px;
        height: 35px;
        border: 1px solid red;
        border-left: none;
        background:  #ededed;
        text-align: center;
        color: black;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        font-size: 12px;
    }

    /* CONTACTO */

    .contacto {
        text-align: center;
        margin-top: 20px;
    }

    .contacto-datos {
        width: 100%;
        margin-bottom: 18px;
        line-height: 25px;
    }

    .contacto-datos img {
        width: 10%;
        text-align: center;
    }

    .contacto-datos i {
        font-size: 14px;
        width: 100%;
    }

    .contacto-datos a {
        text-decoration: none;
        color: black;
    }

    .contacto-datos li {
        list-style: none;
    }

    /* FOOTER */

    .wpp-absolute i {
        position: fixed;
        bottom: 40px;
        right: 20px;
        font-size: 30px;
        color: white;
        background-color: rgb(0, 189, 0);
        padding: 10px;
        border-radius: 1000px;
        box-shadow: 0 10px 15px rgba(0,0,0,0.3);
        z-index: 100;
    }
    footer {
        background-color: #ededed;
        padding: 8px;
    }

    .copyright {
        width: 100%;
    }

/* MEDIA QUERIES TABLET */
@media only screen and (min-width: 401px) and (max-width: 991px) {
    /* QUIENES SOMOS */
    .contenedor-texto-video {
        flex-direction: column;
        width: 100%;
    }

    .quienes-somos-texto {
        width: 100%;
    }

    .quienes-somos-imagen  {
        width: 100%;
    }

    /* PRODUCTOS */
    .tarjeta-producto img {
        border-radius: 10px;
        box-shadow: 0 10px 15px rgba(0,0,0,0.3);;
    }

    .wpp-absolute {
        display: none;
    }

    /* FOOTER */
    footer {
        background-color: black;
    }
}