/* IINICIO QUIENES SOMOS */

#quienes-somos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 16px;

    h1 {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .contenedor-texto {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;

        .quienes-somos-texto {
            width: 70%;
            font-size: 1rem;
            vertical-align: middle;

            @media (max-width: 991px) {
                width: 100%;
            }

            img {
                width: 40%;
                margin: 25px;
            }

            p {
                margin-bottom: 18px;
            }

            h2 {
                margin-bottom: 10px;
            }
        }

        .quienes-somos-imagen {
            width: 50%;
            text-align: center;

            @media (max-width: 991px) {
                display: none;
            }

            iframe {
                border-radius: 10px;
            }
        }
    }
}

/* FIN QUIENES SOMOS */